body {
    max-width: 500px;
    min-width: 50px;
    display: block;
    border-color: 1px solid red;
    box-sizing: border-box;
    

   
}

h1 {
    border: 1px solid red;
    text-align: center;
}
#box {
    display: block;
    justify-content: center;
    border: 1px solid red;
    text-align: center;
}