body {
    width: 500px;
    display: block;
    border-color: 1px solid red;
    box-sizing: border-box;
    margin: center
    ;
   
}

h1 {
    border: 1px solid red;
    text-align: center;
}
#box {
    display: block;
    justify-content: center;
    border: 1px solid red;
    text-align: center;
}